.Game {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.Game__info {
  display: flex;
  flex-direction: column;
  background-color: #FFA07A;
  border-radius: 5px;
  height: max-content;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}