.Game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.Game__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FFA07A;
  border-radius: 5px;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 412px) {
  .Game {
    gap: 5px;
  }
  .Game__info {
    height: 200px;
  }
}

p, h3 {
  padding: 0;
  margin: 0;
  line-height: 30px;
}
